{% extends 'base.html.twig' %}

{% block title %}Editing an existing post{% endblock %}

{% block bread %}
	&gt; <a href={{ path('app_micro_post_show', {post: post.id})}}>Post</a>
  &gt; Edit
{% endblock %}

{% block body %}
  {% include "micro_post/_form.html.twig" %}
{% endblock %}
