{% extends 'base.html.twig' %}

{% block body %}
<form action={{path('app_login')}} method="POST">
    <div>
        <label for="email">Email</label>
        <input 
            type="text" 
            id="email" 
            name="_username" 
            value="{{ lastUsername }}"
        />
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="_password" />
    </div>

    <input type="hidden" name="_target_path" value="/micro-post" />
    
    <button type="submit">Login</button>
</form>
{% endblock %}