{% extends "base.html.twig" %}

{% block title %}
	Title changed
{% endblock %}

{% block body %}
	<div>
		{% if limit > 0 %}
			{% for message in messages|slice(0, limit) %}
				<p>
					{{ message }}
				</p>
			{% endfor %}
		{% else %}
			<p>No message</p>
		{% endif %}
	</div>
{% endblock %}
